################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicketSystemAppDeploy/FolderProfile.pubxml.user
/TicketSystemAppDeploy/FolderProfile.pubxml
