################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicketSystemApp/FolderProfile.pubxml.user
/TicketSystemApp/FolderProfile.pubxml
